*{
	margin: 0;
	padding:  0;
	font-family: century gothic, sans-serif;
}

html{
	font-size: 62.5%;
}


.login{

	width: 450px; /*tamanho da caixa de cadastro*/
	margin: 7rem auto;	

}

h1{

	font-size: 4rem;
	padding-top: 7rem;
	padding-bottom: 2rem;
    text-align: center;
    color: #5e5e5e;

}

.agrupamento{
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #3f0000;
	border-radius: 8px;
	box-shadow: 0px 1px 10px #3f0000;
	height: 520px;
    margin: auto;
}


label, input[type="text"], input[type="password"], input[type="submit"]{

	font-size: 1.5rem;
	padding-top: 2rem;
	color: #5d5d5d;
    padding-left: 65px;
}

input[type="text"], input[type="password"]{

	width: 300px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border: 1px solid #CCC;
	border-radius: 8px;
	margin-left: 65px;

}

input[type="submit"]{

	color: white;
	width: 325px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border-radius: 8px;
	background-image: linear-gradient(to right, #a10000, #3f0000);
	border: 0;
	border: 1px solid white;
	border-radius: 8px;
	cursor: pointer;
	margin-left: 65px;
    


}

#btn_entrar:hover 

{ background-color: #000000; 

transition: 0.3s;

opacity: 0.5;

}