*{
    margin: 0;
    padding: 0;
    font-family: century gothic, sans-serif;
    
}


html{
    font-size: 62.5%;
}


.caixa_maior{
    margin: auto;
    width: 100%;
    
}

.caixa_sup{
    border: solid 1px #3f0000;
    height: 75px;
    background-image: linear-gradient(to right, #3f0000, #a10000);
    width: 100%;
    
   
    
}

h1{

    font-size: 3rem;
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: aliceblue;
}

/*.butM{
	margin-top: 10px;
	align-items: center;
	background-image: linear-gradient(to right, #3f0000, #a10000);
	background-color:#3f0000;
	border-radius:1px;
	border:1px solid #3f0000;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:19px;
	padding:0px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3f0000;
	margin-bottom: 10px;
	width: 970px;
}
.butM:hover {
	background-image: linear-gradient(to right, #3f0000, #a10000);
	padding:11px 12px;
    transition: 0.8s;
    
}

.butM:active {
	position:relative;
	top:1px;
}
.butM:hover .descricao1{
	display: none;
    transition: 0.8s;
}
.butM:hover .descricao{
    display: block;
    margin-left: 70px;
    transition: 0.8s;
}
.butM:hover .descricao2{
    display: block;
    margin-left: 75px;
}
.menuic{
	height: 25px; 
	width: 30px;
}
.descricao{
    display: none;
    float: left;
    padding-right: 35px;
    
}
.descricao2{
    display: none;
    float: left;
}

#sobre{
	float: left;
	width: 1000px;
	background-color: #B0C4DE;
	border-radius: 0px 0px 50px 50px;
	transition: 5s;
}*/

.entretenimento{

    height: 300px;
    width: 100%;
    flex-wrap: nowrap;


}

.img_maior{
    display: flex;
    width: 1461px;
    height: 400px;
    flex-wrap: nowrap;
    margin-left: 75px;
}

/*.publicidade{
    display: flex;
    height: 15rem;
    gap: 1.5rem;
    width: 927px;
    float: left;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;

    
}

.publicidade > div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.publicidade > div:hover{
    flex: 3;
    
}*/

.imagem{
   background-image: url(carro1.jpg);
}

.images{
    display: flex;
    gap: 10px;
    margin-left: 75px;
}

.image{
    overflow: hidden;
    border-radius: 10px;
    margin-top: 110px;
   
}

.image img{
    width: 200px;
    height: 140px;
    filter: grayscale(100%);
    transition: all 0.3s ease;

}

.image:hover img{
    filter: none;
    transform: rotate(15deg) scale(1.4);
}




.navegacao{

    position: absolute;
    height: 100px;
    background:#3f0000;
    width: 65px;
    box-shadow: 0 0 25px #3f0000;
    font-size: 1.5rem;
    border-left: 10px solid #3f0000;
    overflow-x: hidden;
    transition: 0.5s;
    min-height: 600px;
    float: right;
    top: 76px;
    border-radius: 3px;
}

.navegacao:hover{
    width:200px;
}

.navegacao ul{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;

}

.navegacao ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.navegacao ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;

}

.navegacao ul li a .icon{

    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;

}

.navegacao ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 1;

}

.navegacao ul li a .title{
    position: relative;
    display: block;
    padding-left: 5px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}


.list:hover 

{ background-color: #c0c0c0; 

transition: 0.3s;

opacity: 0.8;

}